*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.5em

}
.board
{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    place-items: center;
    height: 40%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 30px;
}
.box
{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
}
.box1
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2,
.box4
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 1/1;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}
.box3,
.box5
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}
.box6
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 1/1;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}
.white
{
    width: 15%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}
.dots
{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 100%;
}

@media screen and (max-width : 380px)
{
.board
{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    place-items: center;
    height: 60%;
}
}

@media screen and (max-width : 217px)
{
.board
{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    place-items: center;
    height: 100%;
}
}