@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    background-color: grey;
    min-height: 100vh;
    width: 100%;

} 

header
{
    width: 100%;
    padding: 20px;
    background-color: white;
    position: sticky;
    top: 0px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.300);
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding : 00 30px;
}

.logo
{
    font-size: 2rem;
    flex: 1;
    /* padding: 0 100px; */
}

.links
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: clamp(5px, 30%, 50px);
    flex: 2;
}

.links li a
{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}

#menubtn, #closebtn
{
    font-size: 30px;
    display: none;
    cursor: no;
}

@media only screen and (max-width : 782px)
{

    header
    {
        position: relative;
    }
    #menubtn
    {
        display: block;
    }

    nav .links
    {
        display: none;
    }

    .logo
    {   
        font-size: 1.5rem;
        flex: 1;
    }

    nav .links
    {
        flex-direction: column;
        gap: 50px;
        position: absolute;
        top: 78px;
        left: 0px;
        width: 50%;
        padding: 20px 0;
        background-color: #fff;
        text-align: center;

    }

    nav .links li
    {
        margin : 30px 0;
    }
}


