*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.navbar{
    height: 8vh;
    background-color: rgb(19,25,33);
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    gap: 25px;
    padding: 0 55px 0 25px;
    color: white;
}
.logo-hover{
    min-width: 108px;
    max-width: 151px;
    height: 70%;
    max-height: 67px;
    border: 2px solid transparent;
}
.logo-hover:hover{
    border: 2px groove white;
}
.adress{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
@media screen and (max-width: 578px) {

.adress #delivering{
    display: none;
}
    
}
.logo{
    background: url(imgs/amazon_logo.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.input-div input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
}
.input-div button{
    width: 55px;
    border: 50px;
    background-color: orange;
}
.input-div{
    flex: 1;
    margin: 0 20px;
    display: flex;
}

